fieldset{
    margin-top: 1em;
    border: none;
}

fieldset legend, #playlistNameLabel {
    font-weight: bold;
    font-size: 1em;
    color: var(--coloraccentuation);
    text-align: center;
    margin-bottom: 5px;
}


#playlistName{
    width: auto;
}

#msgPlaylist p{
    background-color: var(--coloractivepage);
    color: var(--colortextbutton);
    padding: 0.5em;
    border-radius: 0.5em;
    font-style: italic;

}

#playlistRecodiv, #playlistRecoAleatTracks{
    background-color: var(--colorbgbox);
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 var(--colorboxshadow);
}

#playlistRecodiv:hover, #playlistRecoAleatTracks:hover{
    box-shadow: 0 8px 16px 0 var(--colorboxshadowhover);
}

#affichePlaylistReco, #affichePlaylistRecoTracksAleat{
    margin-left: 35%;
}
#cursorRecoNBdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cursorRecoNBdiv p{
    margin-left: 10px;
    background-color: var(--colorbodybg);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}


#recoTracks, #recoTracksAleat{
    display: block;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
    align-items: center;
    grid-column-gap: 10px;
    margin-right: 20%;
    margin-left: 20%;
    list-style-type: none;
    text-align: center;

}

#recoTracks li, #recoTracksAleat li{
    background-color: var(--colorbgbox);
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 var(--colorboxshadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recoTracks li:hover, #recoTracksAleat li:hover{
    box-shadow: 0 8px 16px 0 var(--colorboxshadowhover);
}


#recoTracks img, #recoTracksAleat img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}


#recoTracks a{
    text-decoration: none;
    color: var(--coloraccentuation);
    font-weight: bold;
}

#recoTracks a:hover {
    color: var(--colortextbutton);
}

#recoTracks .album {
    font-style: italic;
}

#typeAleat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 20px;
    margin-bottom: 0;
}

#trait{
    width: 50%;
    border: 1px solid var(--coloraccentuation);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
}

#buttonsLine{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#reinitialiser{
    padding-left: 10;
    padding-right: 10;
    width:fit-content;

}
