
body{
    margin:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorbodybg);
    color:var(--colorcontrast);
}

h1{
    text-align:center;
    text-transform: uppercase;
    color:var(--coloraccentuation);
    font-weight: bold;
    font-size:60px;
}

.trait_dessous
{
    border-top: 0.2px solid var(--colorcontrast);
}


h2{
    text-align:center;
    font-variant-caps: all-small-caps;
    color:var(--coloraccentuation);
    font-size: 40px;

}

h3{
    text-align: center;
    font-variant-caps : all-small-caps;
    color:var(--coloraccentuation);
    margin-bottom: 0;
    font-size: 30px;
}

header{

    position: sticky;
    top:0;
    background-color: var(--colorbgbox);

}

p{
    margin-top: 0;
    font-size: 0.9em;
    text-align: center;

}


#link{
    text-align: center;
    margin-bottom: 5%;

}

a {
    font-size: 1rem;
    color: var(--coloraccentuation);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: var(--coloraccentuationhover);
    color: var(--colorcontrast);
    text-decoration: none;
}


img{
    width: 100px;
    height: auto;
    margin-bottom: 2%;
}

button {
    margin:2%;
    align-items: center;
    width: 30%;
    padding: 10px;
    background-color: var(--coloraccentuation);
    color: var(--colortextbutton);
    border: none; 
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

button:hover {
    box-shadow: 0 8px 16px 0 var(--colorboxshadowhover);
    background-color: var(--coloraccentuationhover);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Menu*/
nav{
    width: 100%;
    margin: 0 auto;
    background-color: var(--colorbgbox);
    position: sticky;
    top:0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li{
    flex: 1;
    text-align: center;
    
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px 0px;
    color : var(--colorcontrast);
}

nav a:hover {
    border-bottom: 2px solid var(--coloraccentuationhover);
    background-color: var(--colorbgbox);
}

#actual{
    border-bottom: 2px solid var(--coloraccentuationhover);
}

#up{
    position:fixed;
    display: block;
    right: 1em;
    bottom: 1em;
    background-color: var(--coloraccentuation);
    color: var(--colortextbutton);
    border: none;
    width: 2em;
    font-size: 30px;
    border-radius: 50%;
}

#up:hover {
    background-color: var(--coloraccentuationhover);
}