/* variables de couleurs */
/* mode sombre */
@media(prefers-color-scheme:dark){
	:root{
        --colorbgbox : rgb(0, 0, 0);
        --colorboxshadow : rgba(65, 64, 64, 0.2);
        --colorboxshadowhover : rgba(148, 147, 147, 0.2);
        --coloraccentuation : rgb(158, 84, 228); 
        --coloraccentuationhover : rgb(104, 22, 180); 
        --coloractivepage : rgb(155, 53, 146); 
        --colorbodybg : rgb(18, 18, 18);
		--colorcontrast: whitesmoke;
        --colortextbutton: whitesmoke;
	
	}
}
/* mode light*/
@media(prefers-color-scheme:light){
	:root{
        --colorbgbox : #f9f9f9;
        --colorboxshadow : rgba(0, 0, 0, 0.1);
        --colorboxshadowhover : rgba(48, 48, 48, 0.2);
        --coloraccentuation : rgb(158, 84, 228); 
        --coloraccentuationhover : rgb(104, 22, 180); 
        --coloractivepage : rgb(155, 53, 146); 
        --colorbodybg : whitesmoke;
		--colorcontrast: rgb(0, 0, 0);
        --colortextbutton : whitesmoke;

	}
}